{#include layouts/pageWrapper}
    {#title}Admin{/title}
    <section class="pf-c-page__main-section pf-m-limit-width pf-m-align-center">
        <div class="pf-c-page__main-body">
            {#include components/search id="universitySearch" switch=false}
                {#headers}
                    <div class="pf-l-grid__item pf-m-4-col">שם</div>
                    <div class="pf-l-grid__item pf-m-4-col">שם לתצוגה</div>
                    <div class="pf-l-grid__item pf-m-4-col">טווח IPs</div>
                {/headers}
                {#results}
                    {#include components/universityInfo /}
                {/results}
            {/include}
            {#let canEdit?=true}
                {#if canEdit}
                    {#include components/addItem type="university" /}
                {/if}
            {/let}
        </div>
    </section>
    <script type="module" src="js/admin.js"></script>
{/include}