<section class="pf-c-page__main-section pf-m-align-center">
    <div class="pf-c-search-input" id={id}>
        <div class="pf-l-grid pf-m-gutter">
            <div class="pf-c-search-input__bar pf-l-grid__item pf-m-11-col">
                <span class="pf-c-search-input__text">
                  <span class="pf-c-search-input__icon" style="right: var(--pf-c-search-input__icon--Left); left: 100%;">
                    <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                  </span>
                  <input
                          class="pf-c-search-input__text-input"
                          id="search-input"
                          type="text"
                          aria-label="Keyword search"
                          value=""
                          style="padding-right: var(--pf-c-search-input__text-input--PaddingLeft);padding-left: var(--pf-c-search-input__text-input--PaddingRight);"
                  />
                </span>
                    <span class="pf-c-search-input__utilities">
                  <span class="pf-c-search-input__clear">
                    <button id="search-clear" class="pf-c-button pf-m-plain" type="button" aria-label="Clear">
                      <i class="fas fa-times fa-fw" aria-hidden="true"></i>
                    </button>
                  </span>
                </span>
                <button id="search-submit" class="pf-c-button pf-m-control" type="button" aria-label="Search">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                </button>
            </div>
            {#if switch}
            <div
                    class="pf-c-form__group"
                    role="radiogroup"
                    id="search-field"
            >
                <div class="pf-c-form__group-control">
                    <div class="pf-l-grid pf-m-all-4-col-on-md pf-m-gutter">
                        <div class="pf-c-radio">
                            <input
                                    class="pf-c-radio__input"
                                    type="radio"
                                    id="search-field-radio-subsNo"
                                    name="search-field-radio"
                                    value="subsNo"
                                    checked
                            />

                            <label
                                    class="pf-c-radio__label"
                                    for="search-field-radio-subsNo"
                            >מס' מינוי</label>
                        </div>
                        <div class="pf-c-radio">
                            <input
                                    class="pf-c-radio__input"
                                    type="radio"
                                    id="search-field-radio-userMail"
                                    name="search-field-radio"
                                    value="userMail"
                            />

                            <label
                                    class="pf-c-radio__label"
                                    for="search-field-radio-userMail"
                            >דוא"ל</label>
                        </div>
                        <div class="pf-c-radio">
                            <input
                                    class="pf-c-radio__input"
                                    type="radio"
                                    id="search-field-radio-id"
                                    name="search-field-radio"
                                    value="_id"
                            />

                            <label
                                    class="pf-c-radio__label"
                                    for="search-field-radio-id"
                            >SsoID</label>
                        </div>
                    </div>
                </div>
            </div>
            {/if}
        </div>
        <div id="search-results" class="pf-c-search-input__menu pf-l-grid__item pf-m-11-col" style="text-align: start" hidden>
            <div class="pf-l-grid" style="padding: 0 1em;">
                {#insert headers /}
            </div>
            <ul class="pf-c-search-input__menu-list"></ul>
        </div>
    </div>
<section class="pf-c-page__main-section pf-m-align-center">
    {#insert results /}
    {#insert addItem /}
</section>