<div id="userInfo" style="text-align: start" class="pf-m-gutter" hidden>
    <h1 class="pf-c-title pf-m-3xl pf-l-flex pf-m-justify-content-space-between">
        <span id="userStatus" class="pf-l-flex__item"></span>
        <button id="editUserButt" class="pf-c-button pf-m-primary pf-m-small pf-l-flex__item" type="button">עריכת פרטים</button>
    </h1>
    <div class="pf-c-card">
        <div class="pf-c-card__body">
            <div class="pf-l-grid pf-m-all-6-col-on-sm pf-m-all-3-col-on-lg pf-m-gutter">
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <span>שם פרטי:</span>
                            <span id="firstName"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <span>שם משפחה:</span>
                            <span id="lastName"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <i id="mailValidationDate" class="fas fa-check-circle" aria-hidden="true"></i>
                            <span>דוא"ל:</span>
                            <span id="userMail"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <i id="mobileValidationDate" class="fas fa-check-circle" aria-hidden="true"></i>
                            <span>טלפון:</span>
                            <span id="phone"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <span>תאריך עדכון:</span>
                            <span id="updateDate"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <span>תאריך הרשמה:</span>
                            <span id="registerDate"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <span>מקור הרשמה:</span>
                            <span id="registerOrigin"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <i id="isPhoneEmailConn" class="fas fa-check-circle" aria-hidden="true"></i>
                            <span>טלפון/מייל</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pf-c-card">
        <div class="pf-c-card__title pf-l-flex pf-m-justify-content-space-between">
            <span class="pf-l-flex__item" style="margin-right: 0">פרטי מינוי</span>
        </div>
        <div class="pf-c-card__body">
            <div class="pf-l-grid pf-m-all-6-col-on-sm pf-m-all-3-col-on-lg pf-m-gutter">
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <span>מס' מינוי:</span>
                            <span id="subsNo"></span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <i id="isPaying" class="fas fa-check-circle" aria-hidden="true"></i>
                            <span>משלם</span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <i id="isAbuser" class="fas fa-check-circle pf-u-danger-color-100" aria-hidden="true"></i>
                            <span>אביוזר</span>
                        </div>
                    </div>
                </div>
                <div class="pf-l-grid__item">
                    <div class="pf-l-flex pf-m-space-items-sm">
                        <div class="pf-l-flex__item">
                            <i id="isAdvisor" class="fas fa-times-circle pf-u-info-color-100" aria-hidden="true"></i>
                            <span>יועץ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user-products" class="pf-c-accordion" hidden>
        <h3>
            <button class="pf-c-accordion__toggle pf-c-card__title pf-l-flex pf-m-justify-content-space-between" type="button" aria-expanded="false">
                    <span class="pf-c-accordion__toggle-text">מוצרים</span>
                    <span class="pf-c-accordion__toggle-icon">
                        <i class="fas fa-angle-double-left" aria-hidden="true"></i>
                    </span>
            </button>
        </h3>
        <div id="user-products-content" class="pf-c-accordion__expanded-content" hidden></div>
    </div>
</div>
{#include components/userForm /}