<div id="userForm" class="pf-c-backdrop" hidden>
    <div class="pf-l-bullseye">
        <div
                class="pf-c-modal-box pf-m-sm"
                aria-modal="true"
                aria-labelledby="modal-title-"
                aria-describedby="modal-description-"
        >
            <header
                    class="pf-c-modal-box__header"
                    style="
                        margin-left: var(--pf-c-modal-box--c-button--sibling--MarginRight);
                        margin-right: 0;
                        text-align: start;
                    "
            >
                <h1 class="pf-c-modal-box__title" id="modal-title-"></h1>
            </header>
            <button
                    id="closeFormModal"
                    class="pf-c-button pf-m-plain"
                    type="button"
                    aria-label="Close dialog"
                    style="left: var(--pf-c-modal-box--c-button--Right);right: calc(90% - var(--pf-c-modal-box--c-button--Right));"
            >
                <i class="fas fa-times" aria-hidden="true"></i>
            </button>
            <div class="pf-c-modal-box__body">
                <form novalidate class="pf-c-form" id="-form" style="text-align: start">
                    <div class="pf-c-form__group">
                        <div class="pf-c-form__group-label">
                            <label class="pf-c-form__label" for="-form-first-name">
                                <span class="pf-c-form__label-text">שם פרטי</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                        </div>
                        <div class="pf-c-form__group-control">
                            <input
                                    class="pf-c-form-control"
                                    type="text"
                                    id="-form-first-name"
                                    name="-form-first-name"
                                    required
                            />
                            <p
                                    class="pf-c-form__helper-text pf-m-error"
                                    id="form-help-text-firstName"
                                    aria-live="polite"
                            ></p>
                        </div>
                    </div>
                    <div class="pf-c-form__group">
                        <div class="pf-c-form__group-label">
                            <label class="pf-c-form__label" for="-form-last-name">
                                <span class="pf-c-form__label-text">שם משפחה</span>
                            </label>
                        </div>
                        <div class="pf-c-form__group-control">
                            <input
                                    class="pf-c-form-control"
                                    type="text"
                                    id="-form-last-name"
                                    name="-form-last-name"
                            />
                        </div>
                    </div>
                    <div class="pf-c-form__group" id="-form-email">
                        <div class="pf-c-form__group-label">
                            <label class="pf-c-form__label" for="-form-email-input">
                                <span class="pf-c-form__label-text">דוא"ל</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </label>
                        </div>
                        <div class="pf-c-form__group-control">
                            <input
                                    class="pf-c-form-control"
                                    type="text"
                                    id="-form-email-input"
                                    name="-form-email-input"
                                    required
                            />
                            <p
                                    class="pf-c-form__helper-text pf-m-error"
                                    id="form-help-text-email"
                                    aria-live="polite"
                            ></p>
                        </div>
                    </div>
                    <div id="-form-password">
                        <div class="pf-c-form__group" hidden>
                            <div class="pf-c-form__group-label">
                                <label class="pf-c-form__label" for="-form-password-input">
                                    <span class="pf-c-form__label-text">סיסמא</span>
                                    <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                                </label>
                            </div>
                            <div class="pf-c-form__group-control">
                                <div class="pf-c-input-group">
                                    <input
                                            class="pf-c-form-control"
                                            required
                                            type="password"
                                            id="-form-password-input"
                                            name="-form-password-input"
                                            aria-label="Password input"
                                            value
                                            placeholder="Password"
                                    />
                                    <button
                                            class="pf-c-button pf-m-control"
                                            type="button"
                                            aria-label="Show password"
                                    >
                                        <i class="fas fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="pf-c-form__helper-text">
                                    <ul class="pf-c-helper-text">
                                        <li class="pf-c-helper-text__item pf-m-dynamic pf-m-indeterminate">
                                            <span class="pf-c-helper-text__item-icon">
                                              <i class="fas fa-fw fa-minus" aria-hidden="true"></i>
                                            </span>
                                            <span class="pf-c-helper-text__item-text">Must be at least 6 characters</span>
                                        </li>
                                        <li class="pf-c-helper-text__item pf-m-dynamic pf-m-indeterminate">
                                            <span class="pf-c-helper-text__item-icon">
                                              <i class="fas fa-fw fa-minus" aria-hidden="true"></i>
                                            </span>
                                            <span class="pf-c-helper-text__item-text">Cannot contain non-english characters</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button id="-form-password-reset" class="pf-c-button pf-m-secondary pf-m-small" type="button">איפוס סיסמא</button>
                    </div>
                    <div
                            class="pf-c-form__group"
                            role="radiogroup"
                            aria-labelledby="form-demo-basic-time-zone-legend"
                            id="-form-terms"
                            hidden
                    >
                        <div class="pf-c-form__group-label" id="-form-terms-legend">
                            <span class="pf-c-form__label">
                                <span class="pf-c-form__label-text">תנאי שימוש</span>
                                <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
                            </span>
                        </div>
                        <div class="pf-c-form__group-control">
                            <div class="pf-l-grid pf-m-all-4-col-on-md pf-m-gutter">
                                <div class="pf-c-radio">
                                    <input
                                            class="pf-c-radio__input"
                                            type="radio"
                                            id="-form-terms-radio-htz"
                                            name="-form-terms-radio"
                                            value="htz"
                                    />

                                    <label
                                            class="pf-c-radio__label"
                                            for="-form-terms-radio-htz"
                                    >הארץ</label>
                                </div>
                                <div class="pf-c-radio">
                                    <input
                                            class="pf-c-radio__input"
                                            type="radio"
                                            id="-form-terms-radio-tm"
                                            name="-form-terms-radio"
                                            value="tm"
                                    />

                                    <label
                                            class="pf-c-radio__label"
                                            for="-form-terms-radio-tm"
                                    >TheMarker</label>
                                </div>
                                <div class="pf-c-radio">
                                    <input
                                            class="pf-c-radio__input"
                                            type="radio"
                                            id="-form-terms-radio-hdc"
                                            name="-form-terms-radio"
                                            value="hdc"
                                    />

                                    <label
                                            class="pf-c-radio__label"
                                            for="-form-terms-radio-hdc"
                                    >Haaretz.com</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer class="pf-c-modal-box__footer">
                <button
                        id="updateUser"
                        class="pf-c-button pf-m-primary"
                        type="button"
                        form="-form"
                        style="margin-right: auto"
                >שמור שינויים
                </button>
            </footer>
        </div>
    </div>
</div>