<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://unpkg.com/@patternfly/patternfly/patternfly.css"
            crossorigin="anonymous"
    >
    <title>{#insert title}Default Title{/}</title>
</head>
<body>
<div class="pf-c-page">
    {#let displayNavbar?=true}
        {#if displayNavbar}
            {#include components/navbar /}
        {/if}
    {/let}
    <main class="pf-c-page__main" tabindex="-1">
        {#insert}No body!{/}
    </main>
</div>
{#include components/apiModal /}
</body>
</html>